{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>{{favorite.favo_title}}</h1>
<hr>
{% if favorite.favo_image %}
    <p><img src="{{ favorite.favo_image.url }}" alt='사진' style="height: 300px;"></p>
{% endif %}

<!-- 좋아요 버튼 노출-->
        
<span href="#" class="like" name ="{{post.id}}" value="Like">
    {% if user in favorite.like_user_set.all %}
        <div class="alt-service-icon">
            <i class="fas fa-thumbs-up" id="like-icon" style="color:blue;"></i>
        </div>
    {% else %}
            <div class="alt-service-icon">
            <i class="far fa-thumbs-up" id="like-icon" style="color:blue;"></i>
        </div>
    {% endif %}
        <span id="count-{{ post.id }}" class="alt-services-title font-alt">
            좋아요
        {% if favorite.like_count == 0 %}
            0개
        {% else %}
            {{ favorite.like_count }}개
        {% endif %}
        </span>
</span>

<!-- 싫어요 버튼 노출-->
    
<span href="#" class="dislike" name ="{{post.id}}" value="Dislike">
    {% if user in favorite.dislike_user_set.all %}
        <div class="alt-service-icon">
            <i class="fas fa-thumbs-down" id="dislike-icon" style="color:blue;"></i>
        </div>
    {% else %}
            <div class="alt-service-icon">
            <i class="far fa-thumbs-down" id="dislike-icon" style="color:blue;"></i>
        </div>
    {% endif %}
        <span id="dis_count-{{ post.id }}" class="alt-services-title font-alt">
            싫어요
        {% if favorite.dislike_count == 0 %}
            0개
        {% else %}
            {{ favorite.dislike_count }}개
        {% endif %}
        </span>
</span>


<div>
    <form action="{%url 'main:favorite_create_comment' favorite.id%}" method="POST">
        {%csrf_token%}
        <textarea name="content" placeholder="댓글내용입력"></textarea>
        <input type="submit" value="확인">
    </form>
</div>

<div>
    {% for comment in comments %}
        <div>
            작성자: {{comment.writer}}
            {{comment.content}}
            {% if comment.writer == user %}
            <a href="{%url 'main:favorite_edit_comment' comment.id%}">수정하기</a>
            <a href="{%url 'main:favorite_delete_comment' comment.id%}">삭제하기</a>
            {% endif %}
            <br><hr>
        </div>
    {% endfor %}
</div>
{% if user.is_authenticated %}
<a href="{%url 'main:favorite_edit' favorite.id%}">수정하기</a>
<a href="{%url 'main:favorite_delete' favorite.id%}">삭제하기</a>
<a href="{%url 'main:showfavorite'%}">돌아가기</a>
{% endif %}


<!-- ajax 적용하기-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    $(".like").click(function(){
        var pk=$(this).attr('name')
        $.ajax({
            type:'POST',
            url:"{% url 'main:favorite_like_toggle' favorite.pk %}",
            data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.like_count==null){
                    alert('로그인이 필요합니다.');
                    window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='like'){
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('fas fa-thumbs-up');
                    }
                    else{
                        $('#like-icon').removeClass();
                        $('#like-icon').addClass('far fa-thumbs-up');
                    }
                    $('#count-{{post.id}}').html('좋아요'+response.like_count+"개");
                }
            },
            error:function(request, status, error){
                alert("로그인이 필요합니다.")
                alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
            },
        })
    })

    $(".dislike").click(function(){
        var pk=$(this).attr('name')
        $.ajax({
            type:'POST',
            url:"{% url 'main:favorite_dislike_toggle' favorite.pk %}",
            data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
            dataType:'json',
            success:function(response){
                if(response.dislike_count==null){
                    alert('로그인이 필요합니다.');
                    window.location.replace('/accounts/login/');
                }
                else{
                    if(response.result=='dislike'){
                        $('#dislike-icon').removeClass();
                        $('#dislike-icon').addClass('fas fa-thumbs-down');
                    }
                    else{
                        $('#dislike-icon').removeClass();
                        $('#dislike-icon').addClass('far fa-thumbs-down');
                    }
                    $('#dis_count-{{post.id}}').html('싫어요'+response.dislike_count+"개");
                }
            },
            error:function(request, status, error){
                alert("로그인이 필요합니다.")
                alert('code:'+request.status+'\n'+'message:'+request.responseText+"\n"+"error:"+error);
            },
        })
    })
</script>
{% endblock %}


